<!--  Partial to display latest reading data for a station in inverted segments.-->

<div class="ui five column divided grid">
    <div class="stretched row">
        <div class="column">
            <div class="ui inverted segment">
                <h2>Station: &ensp; <i class="white map marker alternate low icon"></i></h2>
                <h3> {{station.name}}</h2>
                <p>Lat: {{station.latitude}}</p>
                <p>Long: {{station.longitude}}</p>
              </div>
        </div>
        <!--  If statement to avoid no data to display -->
        <div class="column">
            <div class="ui inverted red segment">
                <h3>Weather: </h3>
                <p>{{shortestReading.weatherCode}}</p>
                 </div>
        </div>
        <div class="column">
            <div class="ui inverted blue segment">
                <h3>Temperature: &ensp; <i class="white temperature low icon"></i></h3>
                <p> {{shortestReading.temperature}} Celsius</p>
                <!--  Fahrenheit calculation done with HTML code -->
                <p>{{fahrenheit}} Fahrenheit</p>
                <p>Min: {{_minTemperature}} C</p>
                <p>Max: {{_maxTemperature}} C</p>
            </div>
        </div>
        <div class="column">
            <div class="ui inverted green segment">
                <h3>Wind:&ensp; <i class="white wind icon"></i></h3>
                <p>Strength: {{beaufort}} bft</p>
                <p>Direction: {{compassDirection}}</p>
                <p>Feels like: {{windChillTemp}}</p>
                <p>Min: {{_minWindSpeed}}</p>
                <p>Max: {{_maxWindSpeed}}</p>
            </div>
        </div>
        <div class="column">
            <div class="ui inverted purple segment">
                <h3>Pressure: &ensp; <i class="white chart bar icon"></i></h3>
                <p>{{shortestReading.pressure}} hPa </p>
                <p>Min: {{_minPressure}}</p>
                <p>Max: {{_maxPressure}}</p>
            </div>
        </div>
    </div>
</div>
